@charset "utf-8";

/* Clean default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Cards Container */
#card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}
    

/* Cards */
.card {
    max-width: 350px;
    width: 100%;
    height: 250px;
    position: relative;
    color: white;
    /* apply a graphical effect to the area behind an element */
    backdrop-filter: blur(5px);
    /* controls what happens to content that is too big to fit into an area */
    overflow: auto;
    /* border setting */
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    /* shadow */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

/* Each Card */
.card1 {
    /* Gradient background */
    background: linear-gradient(135deg, rgba(121, 139, 234, 1) 0%, rgba(133,  129, 215, 0.7) 50%, rgba(161, 143, 211, 0.5) 100%), url('images/card1_bg.jpg');
    background-size: cover;
    background-position: center;
}

.card2 {
    /* Gradient background */
    background: linear-gradient(135deg, rgba(70, 111, 229, 1) 0%, rgba(88, 148, 194, 0.7) 50%, rgba(116, 196, 170, 0.5) 100%), url('images/card2-bg.jpg');
    background-size: cover;
    background-position: center;
}

.card3 {
     /* Gradient background */
     background: linear-gradient(135deg, rgba(7, 93, 27, 1) 0%, rgba(43, 222, 133, 0.7) 50%, rgba(197, 219, 36, 0.5) 100%), url('images/card3-bg.jpg');
     background-size: cover;
     background-position: center;
}

/* Card Content */
.card-content {
    padding: 20px
}

/* Card Title */
.card-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
}

/* Card Description */
.card-description {
    font-size: 0.8rem;
    margin: 20px;
    line-height: 1.5;
}

/* Card Button */
.card-button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Card Button Hover */
.card-button:hover {
    background-color: white;
    color: rgb(151, 198, 242);
}

/* Responsive Design */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
}